{% load static %}

<link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- CSS Files -->
<link rel="stylesheet" href="{% static 'assets/demo/demo.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/material-dashboard.css' %}">
<script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
